header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white; 
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
}

.logo-menu img {
    height: 70px;
    width: auto;
}

.menu-elements {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 70px;

}

.menu-elements li {
    display: inline;
}

.menu-elements li a {
    text-decoration: none;
    color: #001F3F;
    font-family: 'Futura', Bold Condensed Oblique;
    font-weight: 300;
    letter-spacing: 3px;
    font-size: 25px;
    padding: 10px;
    transition: color 0.3s ease;

}

.menu-elements li a:hover {
    color: #007BFF;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 10px;
    width: 250px;
}

.search-icon {
    font-size: 18px;
    margin-right: 10px;
}

input[type="text"] {
    border: none;
    background-color: transparent;
    outline: none;
    width: 100%;
    font-size: 16px;
    color: #333;
}

input[type="text"]::placeholder {
    color: #bbb;
}

.shopping-cart-ikon a img{
    width: 50px;
    height: auto;
}

.main-text {
    text-align: center;
    font-family: 'Futura', Bold Condensed Oblique;
    font-size: 20px;
    margin: 30px;
}

.main-text h3 {
    font-size: 70px;
    line-height: 1;
    margin: 0;
}


.button a {
    text-decoration: none;
    font-family: 'Futura', Bold Condensed Oblique;
    font-size: 20px;
    color: white;
    border: 2px solid black;
    border-radius: 20px;
    background-color: black;
    padding: 7px 10px;
}

.button a:hover {
    background-color: gray;
    border: 2px solid gray;
}

.pics {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
  
.first-row,
.second-row {
    display: flex;
    justify-content: center;
    width: 100%;
}
  
.pic1, .pic2, .pic3, .pic4 {
    flex: 1;
    max-width: 100%;
    height: auto;
    position: relative;
}
  
.text-on-pic1, .text-on-pic2, .text-on-pic3, .text-on-pic4 {
    position: absolute;
    font-family: 'Futura', Bold Condensed Oblique;
    font-weight: 500;
    font-size: 25px;
    bottom: 40px; 
    left: 30px;
    color: white;
}

.text-on-pic1 a, .text-on-pic2 a, .text-on-pic3 a, .text-on-pic4 a {
    color: black; 
    border: 2px solid white; 
    border-radius: 30px; 
    padding: 5px 10px; 
    text-decoration: none; 
    background-color: rgb(255, 255, 255); 
    font-size: 24px;
    line-height: 24px;
    font-family: 'Futura', Bold Condensed Oblique;
}

.text-on-pic1 a:hover, .text-on-pic2 a:hover, .text-on-pic3 a:hover, .text-on-pic4 a:hover {
    background-color:  rgb(193, 193, 193);
    border: 2px solid rgb(193, 193, 193);
}




.footer-menu {
    position: relative;
    align-items: center;
    align-content: center;
    display: flex;
    margin-top: 20px;
    background: #FFFFFF;

}
.footer-logo{
    margin-left: 20px;

}
.footer-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 70px;
    margin-left: 450px;

}

.footer-elements li {
    text-align: center;
    display: inline;
    padding-top: 23px;
    padding-bottom: 23px;
}

.footer-elements li a {
    text-decoration: none;
    color: #001F3F;
    font-family: 'Futura', Bold Condensed Oblique;
    font-weight: 300;
    letter-spacing: 3px;
    font-size: 25px;
    padding: 10px;
    transition: color 0.3s ease;
}

.footer-elements li a:hover {
    color: #007BFF;
}
