.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
}

.logo-menu img {
    height: 70px;
    width: auto;
}

.menu-elements {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 70px;

}

.menu-elements li {
    display: inline;
}

.menu-elements li a {
    text-decoration: none;
    color: #001F3F;
    font-family: 'Futura', Bold Condensed Oblique;
    font-weight: 300;
    letter-spacing: 3px;
    font-size: 25px;
    padding: 10px;
    transition: color 0.3s ease;

}

.menu-elements li a:hover {
    color: #007BFF;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 10px;
    width: 250px;
}

.search-icon {
    font-size: 18px;
    margin-right: 10px;
}

input[type="text"] {
    border: none;
    background-color: transparent;
    outline: none;
    width: 100%;
    font-size: 16px;
    color: #333;
}

input[type="text"]::placeholder {
    color: #bbb;
}

.shopping-cart-ikon a img{
    width: 50px;
    height: auto;
}

.big-foto {
    display: flex;
    justify-content: center;
    position: relative;
}

.big-foto p {
    position: absolute;
    color: white;
    left: 160px;
    top: 276px;
    font-family: 'Futura';
    font-style: italic;
    font-weight: 700;
    font-size: 96px;
    cursor: default;
}

.pictures {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px;
    transition: transform 0.3s ease;
}

.pictures div{
    text-align: center;
}

.pictures a {
    text-decoration: none;
    display: block;
    color: #001F3F;
}

.pictures p {
    margin-top: 10px;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Futura', Bold Condensed Oblique;
    transition: color 0.3s ease;
}

.pictures a:hover {
    color: #007BFF;
}


.air-max {
    position: absolute;
    top: 540px;
    left: 67px;
    z-index: 1;

}

.footer {
position: relative;
align-items: center;
align-content: center;
display: flex;
width: 100%;
height: 85px;
left: 0px;
top: 1963px;;
margin-top: 20px;
background: #FFFFFF;

}
.footer-logo{
width: 98px;
height: 35px;
left: 60px;
margin-top: 20px;
background: url(Logo_NIKE.svg);

}
.footer-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 70px;

}

.footer-elements li {
    text-align: center;
    display: inline;
}

.footer-elements li a {
    text-decoration: none;
    color: #001F3F;
    font-family: 'Futura', Bold Condensed Oblique;
    font-weight: 300;
    letter-spacing: 3px;
    font-size: 25px;
    padding: 10px;
    transition: color 0.3s ease;
}

.footer-elements li a:hover {
    color: #007BFF;
}
