header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 96px;

    background: #FFFFFF;

}

.Nike {
    display: flex;
    width: 124px;
    height: 124px;
    padding-left: 47px;
}

.menu {
    display: flex;
    gap: 141px;
    padding-right: 388px;
}


.menu p {
    font-family: 'Futura';
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #000000;
    margin: 0;
}
